<style>
  h1 {text-align: center;}
</style>

<h1><%= @facade.vendor_name %></h1>
<br><br>

<p>Contact Info:</p>
<p>Name: <%= @facade.vendor_contact_name %></p>
<p>Phone: <%= @facade.vendor_contact_phone %></p>
<p>Credit Accepted?: <%= @facade.vendor_credit_accepted %></p>
<p>Description: <%= @facade.vendor_description %></p>