<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>

<h1>Markets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th></th>
  </tr>
  <% @facade.markets.each do |market| %>
    <tr id= "market_<%= market.id %>">
      <td><%= market.name %></td>
      <td><%= market.city %></td>
      <td><%= market.state %></td>
      <td><%= button_to 'More Info', "/markets/#{market.id}", method: :get %></td>
    </tr>
  <% end %>